<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Администратор сайта</title>
<!--    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/w3--css@1.0.0/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
</head>
<body >
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.js"></script>  
    <div class="w3-row " id="app" style="height:100%">
        <div id="main_menu" class="w3-col w3-black w3-padding w3-row">
           <span class="w3-col s2 ">Меню</span> 
            <span @click="menu('about')"><router-link class="w3-margin-left" to="/about">Сведения об ОО</router-link> </span>
            <span @click="menu('news')"><router-link class="w3-margin-left"  to="/news">Новости</router-link></span>
            <span @click="menu('info')"><router-link class="w3-margin-left"  to="/info">Информация</router-link></span> 
<!--        <span @click="menu('info')"><router-link class="w3-margin-left"  to="" >Администратору</router-link></span> -->
            <span class="w3-right"><h5>Панель администратора школьного сайта v 0.1</h5></span>
        </div>
<!--   (a_m.part=== $route.params.name)||(a_m.part=== $route.params.name)    -->
        <div class="w3-padding menu w3-col s3 w3-black w3-border-top w3-border-red" style="overflow-y: scroll;">
               <div v-for="a_m of about_menu" class="w3-margin-bottom">        
                   <router-link class="w3-xsmall w3-hover-text-red" style="text-decoration:none" 
                   :to="{name:a_m.router_name,params:{ name:a_m.name,caption:a_m.caption }}">{{ a_m.caption }}</router-link>
               </div>
                   
         </div>  
         <div class="w3-padding menu w3-col s9 osn_cont " >
         <router-view>  
<!--............ about slot              -->
              <div slot="cont_slot_about" style="padding-bottom:50px;" >
                  <h5 class="w3-leftbar w3-border-indigo w3-padding"> {{ $route.params.caption }} </h5> 
                  <div v-for="d of about_fields" v-if="d.table_name===$route.params.name">
                     <p class="w3-large">{{d.caption}}</p>
                     <p class="w3-white w3-padding w3-border-left w3-border-blue">
                     <span v-for="value of about_value" v-if="value.field_name===d.field_name">
                     <textarea style="width:100%;min-height:50px" @change="update(value.id,$event.target.value)" v-model="value.value" ></textarea>
                     </span>    
                         <br><br>
                         <span v-for="doc of doc_fields" v-if="doc.cat===d.doc_cat" class="w3-text-blue doc_span">
                            <img src="img/pdf.png" style="margin-right:10px;">
                            <router-link class="" :to="{name:'doc_view',params:{doc_path:doc.path,caption:doc.caption}}" >{{doc.caption}}</router-link> 
                            <i  class="fa fa-trash fa-2x w3-text-red w3-margin-left" style="cursor:pointer" @click="remove_file(doc.id)" 
                            title="Удалить файл"></i>
                            <br><br>            
                         </span><br><br><br><br>
                         <router-link class="w3-round " 
                         style="padding:20px" title="Добавить документ"
                         :to="{name:'doc_add',params:{doc_cat:d.doc_cat}}" ><img src="img/add_pdf.png" style="margin-right:10px;width:60px">Добавить документ
                         </router-link>
                           
                     </p>
                     
                     
                  </div>
              </div> 
<!--............   doc_view_slot             -->
              <div slot="doc_view_slot" class="w3-padding " style="height:786px">
                     <h5 class="w3-leftbar w3-border-indigo w3-padding"> {{ $route.params.caption }} </h5>
                     <object :data="$route.params.doc_path" type="application/pdf" style="width:100%;height:100%"></object>
              </div> 
<!--...........   doc_add_slot             -->
              <div slot="doc_add_slot">
                   <form onsubmit="return false" @submit="load_file($event.target)" id="my_form" 
                   enctype="multipart/form-data">
                   <p>
                   <div class="w3-row">
                        <h4 class="w3-col s3">Название документа</h4>
                        <input id="caption" type="text" name="caption" class="w3-col s8 w3-input" placeholder="Название документа на русском">
                   </div>               
                   </p>
                   <p>
                   <label for="myfile">Файл:</label>
                      <input type="file" name="my_file" id="my_file"> 
                      <progress id="progressbar" value="0" max="100"></progress>
                   </p>
                   <input type="text" name='cat' :value="$route.params.doc_cat" v-show="false">
                   <input type="submit" class="w3-btn w3-indigo" value="Загрузить">
                   </form>
                  
                  
              </div>  
<!--.......... all news      position:fixed;top:50px         -->
              <div slot="all_news_slot">
                  <h5 v-if="$route.fullPath!='/news'" class="w3-leftbar w3-border-indigo w3-padding"> {{ $route.params.caption }} </h5>
                  <input type="text" class="w3-input" placeholder="Поиск новостей" v-model="search" style="">
                  <div v-for="n of filterNews" class="w3-padding w3-round w3-white w3-margin-bottom" style="font-family:Segoe UI">
                      <p class="w3-text-grey">{{ n.date }}</p>
                      <h5 class="w3-large ">{{ n.zag }}</h5>
                      <br>
                      <p class="" style="font-size:12pt;">{{ n.cont_min }}</p>
                      <br><router-link class="w3-text-blue" :to="{name:'view_news',params:{id:n.id,caption:n.zag}}">Подробнее..</router-link>
                      <i class="ion-trash-b w3-xlarge w3-margin-left" @click="trashnews(n.id)" style="cursor:pointer" title="Удалить новость"></i>
                      <hr class="w3-text-red" >
                  </div>
              </div>
<!--.......... add news             -->
              <div slot="add_news_slot" style="width:100%;height:100%">
                <h5 v-if="$route.fullPath!='/news'" class="w3-leftbar w3-border-indigo w3-padding">{{ $route.params.caption }}<a href="#" class="w3-margin-left" @click="adnshow=!adnshow">Открыть</a> </h5>
                  <full_temp v-if="adnshow" @close="adnshow = false">
                  <div slot="body" class="w3-row w3-padding" style="width:100%;height:100%;margin-bottom:50px">
                      <div class="w3-col s6 w3-padding" style="height:50%">
                         <input v-model="new_news[0].zag" class="w3-input w3-border" placeholder="#Заголовок"><br>
                          <textarea v-model="new_news[0].cont_full" style="width:100%;min-height:500px" placeholder="#Текст">
                            
                          </textarea><br>
                          
                      </div>
                      <div class="w3-col s6 w3-padding">
                       <h4 v-html="new_news[0].zag"></h4>
                       <p class="w3-padding" style="height:50%;white-space:pre-line" v-html="new_news[0].cont_full"></p>    
                      </div>
                      <br>
                      <div class="w3-col w3-padding"><button @click="save_news()" class=" w3-btn w3-green w3-round">Добавить новость</button></div>
                      
                  </div>
                  </full_temp> 
              </div> 
              <div slot="view_news_slot">
                <h5 v-if="$route.fullPath!='/news'" class="w3-leftbar w3-border-indigo w3-padding">
                    {{ $route.params.caption }}  </h5> 
                  <div v-for="n of news" class="w3-row w3-padding" v-if="n.id===$route.params.id" >
                    <p v-html="n.cont_full"></p>
                    <br><br><br> 
                  </div>
                  
              
              </div>  
                
         </router-view> 
         </div>    
        
        
          
        </div>
        
    </div>

<template id="all_news_temp">
<div class="">
    <h4 class="w3-leftbar w3-border-red w3-padding ">Новости</h4>
    <slot class="" name="all_news_slot"></slot>
</div>
</template>
<template id="add_news_temp">
<div class="">
    <h4 class="w3-leftbar w3-border-red w3-padding ">Новости</h4>
    <slot class="" name="add_news_slot"></slot>
</div>
</template>
<template id="view_news">
<div class="">
    <h4 class="w3-leftbar w3-border-red w3-padding ">Просмотр новости</h4>
    <slot class="" name="view_news_slot"></slot>
</div>
</template>       
<template id="about_temp"><div class="w3-row" style="height:100%">
     <div class="">
         <h4 class="w3-leftbar w3-border-red w3-padding ">Сведения об образовательной организации</h4>
                        
     </div>
</div></template>
<template id="about_item"><div class="w3-row" style="height:100%">
     <div class="">
         <h4 class="w3-leftbar w3-border-red w3-padding ">Сведения об образовательной организации</h4>
         <slot name="cont_slot_about" ></slot>                
     </div>
</div></template>       

<template id="doc_view"><div>
  <h4 class="w3-leftbar w3-border-red w3-padding w3-margin-left">Просмотр документа</h4>   
  <slot name="doc_view_slot"></slot></div>
</template>
<template id="doc_add"><div>
  <h4 class="w3-leftbar w3-border-red w3-padding w3-margin-left">Добавление документа</h4>   
  <slot name="doc_add_slot"></slot></div>
</template>
        
<!-- throw message box   -->
<div id='error_box' class=' ' style='display: none;  position: fixed; width: 370px; right: 20px; top: 20px; -webkit-box-shadow: 0px 5px 5px 3px rgba(0, 0, 0, 0.3); box-shadow: 0px 5px 5px 3px rgba(0, 0, 0, 0.3); -webkit-border-radius: 5px; border-radius: 5px; text-align: center;'>

<p id='error_message' class="w3-text-white" style=' margin-top: 18px; font-weight: bold;  filter: dropshadow(color=#FFFFFF, offx=1, offy=1);'></p>    
</body>
<script>
     var All_News  =  { template: '#all_news_temp' }  
     var Add_News  =  { template: '#add_news_temp' }  
     var AllNews  =  { template: '#news_temp' }  
     var view_news  = { template: '#view_news' }  
     var AboutOO  =   { template: '#about_temp' }  
     var Info  =      { template: '<div>Info </div>' }  
     var Albom  =     { template: '<div>Albom </div>' }  
     var About_item = { template: '#about_item' }  
     var doc_view =   { template: '#doc_view' }  
     var doc_add =   { template: '#doc_add' }  
const routes = [
  { path: '/about/', component: AboutOO },
  { path: '/info/', component: Info },
  { path: '/news/', component: All_News },
  { path: '/about/:name&:caption', name:"about_item", component: About_item },    
  { path: '/all_news/:name&:caption', name:"all_news", component: All_News },    
  { path: '/add_news/:name&:caption', name:"add_news", component: Add_News },    
  { path: '/about/doc_view/:doc_path&:caption', name:"doc_view", component: doc_view },    
  { path: '/doc_add/:doc_cat', name:"doc_add", component: doc_add },    
  { path: '/news/:id&:caption', name:"view_news", component: view_news }    
  ]    
const router = new VueRouter({
  routes 
})
var app = new Vue({
    router, 
    data:{    
      current_menu:'about',
       about_menu  :[]    
      ,about_fields:[]    
      ,about_value :[]    
      ,doc_fields  :[]    
      ,news:[]    
      ,new_news:[{cont_full:'',cont_min:'',zag:'',img_path:'',sch_cod:'',date:'',id:7777}]    
      ,vk_id:0    
      ,search:''    
      ,adnshow:false    
      ,next_news_id:0    
    },
    components:{
        full_temp:{ template:"#full-template" }
    },
    methods:{
       menu:function(val){
            $.ajax({type:"POST",url:"a_hand.php",data:"about_menu="+val,dataType: 'json',success:function(data){ app.about_menu=data }})         
       }         
      ,update:function(id,val){
            $.ajax({type:"POST",url:"a_hand.php",data:"update="+val+"&id="+id,success:function(data){ 
               throw_message(data,'w3-green');
            }})         
       }         
      ,trashnews:function(id){
            $.ajax({type:"POST",url:"a_hand.php",data:"trashnews_id="+id,dataType: 'json',success:function(data){
                app.news=data; throw_message('Новость удалена !!!','w3-green');  }})         
            
       }         
      ,save_news:function(){
          let fd=new FormData();
          fd.append('save_news','');
          fd.append('zag',app.new_news[0].zag);
          fd.append('cont_full',app.new_news[0].cont_full);
//          fd.append('id',app.new_news[0].id);
          $.ajax({type:"POST",url:"a_hand.php",contentType: false,processData: false,data:fd,dataType: 'json',success:function(data){ app.news=data; }})   
          $.ajax({type:"POST",url:"a_hand.php",data:"next_news_id=",success:function(data){ app.new_news[0].id=data } }) // next_id
          app.new_news[0].zag='';
          app.new_news[0].cont_full='';
       }         
      ,load_file:function(form){
          let x=form;
  if ((x.elements.caption.value==='')&&( x.elements.my_file.value==='')){ throw_message('Нет данных !!!','w3-red');return false; }
  else 
  if ((x.elements.caption.value==='')&&( x.elements.my_file.value!='')){ throw_message('Описание документа отсуствует','w3-red');
                                                                        return false; }
  else 
  if ((x.elements.caption.value!='')&&( x.elements.my_file.value==='')){ throw_message('Файл не выбран','w3-red');return false; }
  else if ((x.elements.caption.value!='')&&( x.elements.my_file.value!='')){  }
          
        
//          return false;  need for testing
// begin load begin 
         var progressBar = $('#progressbar');
        
		var $that = form,
				formData = new FormData(form);
         
		$.ajax({ url:'a_hand.php',type:'POST',contentType: false,processData: false,data: formData,dataType: 'json',
			xhr: function(){
				var xhr = $.ajaxSettings.xhr(); xhr.upload.addEventListener('progress', function(evt){ 
					if (evt.lengthComputable) {var percentComplete = Math.ceil(evt.loaded / evt.total * 100);
						progressBar.val(percentComplete).text('Загружено ' + percentComplete + '%');}}, false);
				return xhr;},
			success: function(data){
				app.doc_fields=data;  throw_message('Файл загружен','w3-green');      
            }});
          // rezerv send
//          $.ajax({ url:'http://sauroneg.beget.tech/schools/a_hand.php',type:'POST',contentType: false,processData: false,
//                data: formData,dataType: 'json',
//			success: function(data){
//				    console.log(data);
//            }});
// end load file
     },
      remove_file:function(id){  
        $.ajax({ url:'a_hand.php',type:'POST',data:'remove_file_id='+id,dataType: 'json',
        success:function(data){ app.doc_fields=data; throw_message('Файл удален !!','w3-green'); } }) 
      }
      
    },
    created:function(){
        $.ajax({type:"POST",url:"a_hand.php",data:"doc_fields=",success:function(data){ app.doc_fields=$.parseJSON(data) } })
        $.ajax({type:"POST",url:"a_hand.php",data:"news=",dataType: 'json',success:function(data){ app.news=data } })
        $.ajax({type:"POST",url:"a_hand.php",data:"next_news_id=",success:function(data){ app.new_news[0].id=data } })
        $.ajax({type:"POST",url:"a_hand.php",data:"about_fields=",dataType: 'json',success:function(data){ app.about_fields=data } })
        $.ajax({type:"POST",url:"a_hand.php",data:"about_value=",dataType: 'json',success:function(data){ app.about_value=data } })
        
if (this.$route.path==='/news'){ $.ajax({type:"POST",url:"a_hand.php",data:"about_menu="+'news',dataType: 'json',success:function(data){ app.about_menu=data } }) }
if (this.$route.path==='/about'){ $.ajax({type:"POST",url:"a_hand.php",data:"about_menu="+'about',dataType: 'json',success:function(data){ app.about_menu=data } }) }
if (this.$route.path==='/info'){ $.ajax({type:"POST",url:"a_hand.php",data:"about_menu="+'info',dataType: 'json',success:function(data){ app.about_menu=data } }) }
if (this.$route.name==='about_item')
       { $.ajax({type:"POST",url:"a_hand.php",data:"about_menu="+'about',dataType: 'json',success:function(data){ app.about_menu=data } }) }
if (this.$route.name==='add_news'){ $.ajax({type:"POST",url:"a_hand.php",data:"about_menu="+'news',dataType: 'json',success:function(data){ app.about_menu=data } }) }
if (this.$route.name==='all_news'){ $.ajax({type:"POST",url:"a_hand.php",data:"about_menu="+'news',dataType: 'json',success:function(data){ app.about_menu=data } }) }
if (this.$route.name==='info_item'){ $.ajax({type:"POST",url:"a_hand.php",data:"about_menu="+'info',dataType: 'json',success:function(data){ app.about_menu=data } }) }

    // router.push({ name: 'about_item', params: { name:'doc_sch',caption:'Документы' }}) 
        
    },
computed:{
    filterNews:function(){
     return this.news.filter((n)=>{
         return n.zag.match(this.search);
     })    
    }
}    
}).$mount('#app')
    
function throw_message(str,w3color) {
        $('#error_message').html(str);
        $('#error_box').attr('class','');
        $('#error_box').addClass(w3color);
        
        $("#error_box").fadeIn(500).delay(500).fadeOut(50);
    }     
</script>
<style>
    html,body{ height: 100%;overflow: hidden  }
    .menu,.osn_cont{ height: 100%; }
    #main_menu{height: 50px }
    .osn_cont{ overflow-y: scroll;  }
    .a_m a{ text-decoration: none; }
   
    /* scroll styles */
/* Let's get this party started */
::-webkit-scrollbar {
    width: 12px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(255,0,0,0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,0,0,0.4); 
}    

.slide-transition {
    transition: all .3s cubic-bezier(.65, .05, .36, 1);
}

.slide-enter, .slide-leave {
    left: -100%;
}
    
/*  */
    
/*    */
  .modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 1000px;
  min-height: 500px;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-body {
  margin: 20px 0;
}

.modal-default-button {
  float: right;
}

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}  
        
    
</style>
<template id="full-template" >
  <transition name="modal">
    <div class="modal-mask" style="z-index:9998">
      <div class="modal-wrapper">
        <div class="modal-container" style="overflow:scroll;height:100%;width:90%">

          <div class="modal-header">
            <slot name="header" class="w3-center">
              
            </slot>
          </div>

          <div class="modal-body">
            <slot name="body">
              
            </slot>
          </div>

          <div class="modal-footer" style="height:30px;">
            <slot name="footer">
              <button class="modal-default-button w3-text-red w3-button" @click="$emit('close')">
               Закрыть
              </button>
            </slot>
          </div>
        </div>
      </div>
    </div>
  </transition>
</template>

</html>