<!DOCTYPE html>
<html lang="en"  >
<head>
    <meta charset="UTF-8">
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
    
    <title>Сайт дошкольного образовательного учреждения</title>
<!--    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/w3--css@1.0.0/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
</head>
<body >
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.js"></script>  
<script type="text/javascript" src="//vk.com/js/api/openapi.js?152"></script>
<!--  app   --><div id="app" style="height:100%;width:100%;"> 
      <!--  menu    -->
      <aside id="slide_bar" v-show="show_slide" transition="slide" class="box_shdow" >
               <div v-for="a_m of about_menu" class="w3-padding ">        
      <router-link class="w3-small w3-hover-text-red" style="text-decoration:none" :to="{name:a_m.router_name,params:{ name:a_m.name,caption:a_m.caption }}">{{ a_m.caption }}</router-link>
               </div>
      </aside> 
      <div id="header" class="w3-content w3-border-bottom w3-row" >
            <span class="w3-col s3 w3-center w3-padding">Телефон</span>
            <span class="w3-col s3 w3-center w3-padding">Адрес</span>
          <span class="w3-col s3 w3-center w3-padding">email</span>
            <span class="w3-col s3 w3-center w3-padding"><i class="fa fa-eye fa-2x"></i></span>
      </div>
<div id="main_menu"  class="w3-row w3-padding w3-content w3-border-bottom" >
   <span class="w3-col s1 w3-margin-top w3-padding w3-hover-text-red" style="cursor:pointer"><i class="fa fa-bars"></i></span>
   <span class="w3-col s2 w3-center w3-margin-top w3-large w3-hover-text-red"><router-link to="/home"><i class="fa fa-home"></i></router-link></span>
   <span @click="menu('news')" class="w3-col s2 w3-center w3-margin-top w3-large w3-hover-text-red"><router-link to="/news">Новости</router-link></span>
   <span @click="menu('about')"  class="w3-col s2 w3-center w3-margin-top w3-large w3-hover-text-red"><router-link to="/about">Сведения об ОО</router-link></span>
   <span @click="menu('info')"  class="w3-col s2 w3-center w3-margin-top w3-large w3-hover-text-red"><router-link to="/info">Информация</router-link></span>
</div>
       <div id="osn_cont"   class="w3-content " >
       <router-view >    
              <!-- Новости page slot            -->
              <div slot="news_slot" class="w3-padding" >
                  <h5 class="w3-leftbar w3-border-indigo w3-padding"> Новости </h5>
                  <div v-for="n of news" class="w3-padding w3-round w3-white w3-margin-bottom" style="font-family:Segoe UI">
<!--                  <div v-for="n of news">-->
                      <p class="w3-text-grey">{{ n.date }}</p>
                      <h5 class="w3-large w3-text-indigo"><b>{{ n.zag }}</b></h5>
                      <br>
                      <p class="" style="font-size:12pt;">{{ n.cont_min }}</p>
                      <br><router-link class="w3-text-blue" :to="{name:'view_news',params:{id:n.id,caption:n.zag}}">Подробнее..</router-link>
<!--                      <img v-if="news[1].img_path!=''" :src="'http://school2-kyzyl.rtyva.ru/'+news[1].img_path" alt="">-->
                  </div>
                
              </div> 
               <!-- Новость dinamic pages slot            -->
              <div slot="view_news_slot" class="w3-padding" >
                  <h5 class="w3-leftbar w3-border-indigo w3-padding">{{ $route.params.caption }} </h5>
                   <div v-for="n of news" v-if="n.id===$route.params.id" style="margin-bottom:400px;">
                      <div class="w3-padding w3-round w3-white ">
                      <p class="w3-text-grey">{{ n.date }}</p>
                      <h5 class="w3-large ">{{ n.zag }}</h5>
                      <br>
                      <p class="" style="font-size:12pt;" v-html="n.cont_full"></p>
                      </div>
                      <br>
                      <img v-if="n.img_path!=''" :src="'http://school2-kyzyl.rtyva.ru/'+n.img_path" style="width:100%">
                   </div>
              </div>          
                    
              <!-- Сведения об ОО first page slot            -->
              <div slot="about_slot" class="w3-padding ">
                   <h5 class="w3-leftbar w3-border-indigo w3-padding"> Основные сведения </h5>
                   <div v-for="d of about_fields" v-if="d.table_name==='about_sch'" >
                   <p class="w3-large">{{d.caption}}</p>
                     <p class="w3-white w3-padding w3-border-left w3-border-blue">
                         <span v-for="value of about_value" v-if="value.field_name===d.field_name" v-html="value.value" style="white-space:pre-line"></span>
                         <br><br>
                         <span v-for="doc of doc_fields" v-if="doc.cat===d.doc_cat" class="w3-text-blue doc_span">
                            <img src="img/pdf.png" style="margin-right:10px;">
                            <router-link class="w3-padding-bottom" :to="{name:'doc_view',params:{doc_path:doc.path,caption:doc.caption}}" >{{doc.caption}}</router-link> 
                            <br>            
                         </span>
                     
                     </p>                   
                   </div>     
              </div>
              <!-- "Сведения об ОО" dinamic pages slot            -->
              <div slot="about_item_slot" class="w3-padding ">
                 <h5 class="w3-leftbar w3-border-indigo w3-padding"> {{ $route.params.caption }} </h5> 
                 <div v-for="d of about_fields" v-if="d.table_name===$route.params.name">
                     <p class="w3-large">{{d.caption}}</p>
                     <p class="w3-white w3-padding w3-border-left w3-border-blue">
                       <span v-for="value of about_value" v-if="value.field_name===d.field_name" v-html="value.value" style="white-space:pre-line"></span>
                       <br><br>
                       <span v-for="doc of doc_fields" v-if="doc.cat===d.doc_cat" class="w3-text-blue doc_span" >
                            <img src="img/pdf.png" style="margin-right:10px;">
                            <router-link class="w3-padding-bottom" :to="{name:'doc_view',params:{doc_path:doc.path,caption:doc.caption}}" >{{doc.caption}}</router-link> 
                            <br>            
                         </span>
                     </p>
                     
                 </div>
              </div> 
              <!-- "Просмотр документа" dinamic pages slot            -->
              <div slot="doc_view_slot" class="w3-padding " style="height:786px">
                 <h5 class="w3-leftbar w3-border-indigo w3-padding"> {{ $route.params.caption }} </h5>
                 <object :data="$route.params.doc_path" type="application/pdf" style="width:100%;height:100%"></object>
              </div>           
       </router-view>
       </div>
       
       
       
       
       
       
<!-- main menu       -->

<!--       <div id="footer"     class="w3-content " ></div>-->
       
<!-- / app  -->   </div>      
<!-- temp    -->

<template id="news_temp">
<div class="">
<!--    <div class="w3-col s5" id="vk_groups"></div>-->
    <slot class="" name="news_slot"></slot>
</div>
</template>
<template id="view_news">
<div class="">
<!--    <div class="w3-col s5" id="vk_groups"></div>-->
    <slot class="" name="view_news_slot"></slot>
</div>
</template>       
<template id="about_temp"><div>
  <h4 class="w3-leftbar w3-border-red w3-padding w3-margin-left">Сведения об образовательной организации</h4>   
  <slot name="about_slot"></slot></div></template>       
<template id="about_item"><div>
  <h4 class="w3-leftbar w3-border-red w3-padding w3-margin-left">Сведения об образовательной организации</h4>   
  <slot name="about_item_slot"></slot></div></template>
<template id="doc_view"><div>
  <h4 class="w3-leftbar w3-border-red w3-padding w3-margin-left">Просмотр документа</h4>   
  <slot name="doc_view_slot"></slot></div>
</template>

<!-- /temp   -->
<!-- main script   -->
<script>
     var AllNews  =  { template: '#news_temp' }  
     var view_news  =     { template: '#view_news' }  
     var AboutOO  =  { template: '#about_temp' }  
     var Info  =     { template: '<div>Info </div>' }  
     var Albom  =    { template: '<div>Albom </div>' }  
     var About_item =  { template: '#about_item' }  
     var doc_view =  { template: '#doc_view' }  
const routes = [
  { path: '/news', component: AllNews },
  { path: '/about', component: AboutOO },
  { path: '/info', component: Info },
  { path: '/about/:name&:caption', name:"about_item", component: About_item },    
  { path: '/about/doc_view/:doc_path&:caption', name:"doc_view", component: doc_view },    
  { path: '/news/:id&:caption', name:"view_news", component: view_news }    
  ]    
const router = new VueRouter({
  routes 
})
var app = new Vue({
    router, 
    data:{    
      show_slide: true
      ,about_menu:[]    
      ,about_fields:[]    
      ,doc_fields:[]    
      ,about_value:[]    
      ,news:[]    
      ,vk_id:0    
    },
    methods:{
        menu:function(sel){
            if (sel==='news'){ app.show_slide=false; }
            else if (sel==='about'){ app.show_slide=true;
                 $.ajax({type:"POST",url:"a_hand.php",data:"about_menu="+'about',dataType: 'json',success:function(data){ app.about_menu=data } }) }
            else if (sel==='info'){ app.show_slide=true; 
                 $.ajax({type:"POST",url:"a_hand.php",data:"about_menu="+'info',dataType: 'json',success:function(data){ app.about_menu=data } }) }
        }
    },
    created:function(){
        let w=document.documentElement.clientHeight-125;
      $('#osn_cont').css('height',w+'px') 
      $('#slide_bar').css('height',w+'px') 
       
        $.ajax({type:"POST",url:"a_hand.php",data:"doc_fields=",success:function(data){ app.doc_fields=$.parseJSON(data) } })
        $.ajax({type:"POST",url:"a_hand.php",data:"news=",dataType: 'json',success:function(data){ app.news=data } })
        $.ajax({type:"POST",url:"a_hand.php",data:"about_fields=",dataType: 'json',success:function(data){ app.about_fields=data } })
        $.ajax({type:"POST",url:"a_hand.php",data:"about_value=",dataType: 'json',success:function(data){ app.about_value=data } })
    
if (this.$route.path==='/about'){ $.ajax({type:"POST",url:"a_hand.php",data:"about_menu="+'about',dataType: 'json',success:function(data){ app.about_menu=data } }) }
if (this.$route.path==='/info'){ $.ajax({type:"POST",url:"a_hand.php",data:"about_menu="+'info',dataType: 'json',success:function(data){ app.about_menu=data } }) }
if (this.$route.name==='about_item')
       { $.ajax({type:"POST",url:"a_hand.php",data:"about_menu="+'about',dataType: 'json',success:function(data){ app.about_menu=data } }) }
if (this.$route.name==='info_item'){ $.ajax({type:"POST",url:"a_hand.php",data:"about_menu="+'info',dataType: 'json',success:function(data){ app.about_menu=data } }) }    
        
    }       
        
}).$mount('#app');
    
    
                     



</script>


                <!-- VK Widget -->
              
                
<!-- / main script   -->                      
<style>
    html,body{height: 100%;overflow: hidden;}

    #app{ background-size: cover;background-position: center;background-image: url(img/fon.jpg);background-repeat: repeat-y; }

    #header{width:1000px;height:40px;background:rgba(255, 255, 255, 0.77); z-index:2;}
    
    #osn_cont{width:1000px;  background:rgba(230, 230, 230, 0.77); z-index:2;overflow-y: scroll;
        margin-bottom: 200px;font-family:-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif; }
    #main_menu{ width:1000px;height:80px;background:rgba(255, 255, 255, 1); z-index:2;}
    
    #footer{width:1000px;height:100px;background:rgba(255, 255, 255, 0.77); z-index:2;}

    span a{ text-decoration: none; }
    
    #slide_bar{ overflow-y:scroll; position: absolute;width: 200px;background:rgba(255, 255, 255, 1);
        z-index:2; height:786px; margin-top: 120px; right:50%;margin-right: 490px; }
    
    aside div a{text-decoration: none; }
    
    .doc_span a{ text-decoration: underline }
    
    .box_shdow{
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      
    } 
  
   
    
    /* scroll styles */
/* Let's get this party started */
::-webkit-scrollbar {
    width: 12px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(255,0,0,0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,0,0,0.4); 
}    

.slide-transition {
    transition: all .3s cubic-bezier(.65, .05, .36, 1);
}

.slide-enter, .slide-leave {
    left: -100%;
}    
    
    
</style>
</body>
</html>